.heading {
  text-align: center;
}

.content {
  margin-top: 5%;
}

.navvv {
  border: 1px solid black;
}

.nav li {
  border: 1px solid grey;
}

.commands {
  text-align: center;
}

.commands ul li {
  display: inline;  
}
