.heading {
  text-align: center;
}

.content {
  margin-top: 5%;
}

.nav li {
  border: 1px solid grey;
}

.commands {
  text-align: center;
}

.commands ul li {
  display: inline;
}

.pager li > a {
  background-color: #fff;
  border: 3px solid #ddd;
  border-radius: 10px;
}
