<div class="git-content">

  <main>
    <div>
      <p>Once you create that repository, you will be greeted with this screen. we know it looks scary, but we will get through this together.</p>

      <p>A little more than halfway down, there will be an option that says: <samp>"...or push an existing repository from the command line"</samp> which will have two lines of code under it.</p>

      <p>Just like the picture shows, you can either <u><b>BOTH</b></u> of those lines of code, or you can simply click on the COPY icon located on the right-hand side of that option's container.</p>
    </div>

    <div class="commands">
      <p>Commands used so far:</p>
      <ul>
        <li><kbd>git init</kdb></li>
        <li><kbd>git status</kdb></li>
        <li><kbd>git add</kdb></li>
        <li><kbd>git commit</kdb></li>
      </ul>
    </div>
  </main>

  <div class="img-block">
    <img ng-src="{{steps.addRemote}}">
  </div>

</div>
