<button type="button" ng-click="firstStep()">Ready to start?</button>

<section ng-if="userReady">
  <p>During development, you will never be done writing code or making changes. The beautiful part is that if you have made any changes to your project, all we need to do is revisit a few commands...</p>

  <ul>
    <li>git status</li>
    <li>git add</li>
    <li>git commit -m "Some commit message"</li>
    <li>git push</li>
  </ul>

  <p>Those four commands will check your status, add your files to tracking, make a new commit, and then push those changes to <a href="https://www.github.com">GitHub.com</a></p>

</section>
