<div class="git-content">
	
	<main class="cmd-line">
		<div>
			<p>There are a few basic commands we will need to have under our belt in order for us to start using Git. These commands are using in your terminal.</p>
			<p><kbd>cd ~</kbd>: takes you to the root of your user's home directory.</p>
			<p><kbd>cd folder name</kbd>: changes the directory the terminal is working from to the folder name given.</p>					
			<p><kbd>cd ..</kbd>: moves the terminal "back" one folder.</p>
			<p><kbd>ls</kbd>: lists files and folders within the current directory.</p>
			<p><kbd>ls -a</kbd>: lists all files and folders(including hidden) within the current directory.</p>				
			<p><kbd>clear</kbd>: clears the terminal screen.</p>				
			<p><kbd>rm file</kbd>: deletes a file.</p>
			<p><kbd>rm -r folder</kbd>: deletes the folder.</p>
			<p><kbd>rm -rf folder</kbd>: deletes the folder without any confirmation.</p>
			<p><kbd>touch file</kbd>: creates a file.</p>
			<p><kbd>mkdir folder</kbd>: creates a folder with the folder name given.</p>
			<p><kbd>mv file/folder new name for file/folder</kbd>: renames the file/folder with the new name(this can use used to move files/folders).</p>
		</div>
	</main>

</div>
	