<div class="git-content">

  <main>
    <div>
      <p>In your browser, navigate to <a href="https://www.github.com">GitHub</a> and sign in.</p>

      <p>On the main page, you will see two large buttons: <button class="btn btn-success">Read the Guide</button> and <button class="btn">Start a Project</button> - go ahead and click <button class="btn">Start a Project</button>. This will take you to a page that has a few fields to type into and some other options further down.</p>

      <p>For demonstration purposes, we only typed into the <samp>Repository Name</samp> field. We didn't give a description, didn't check the private, or play with any of the other options below that.</p>

      <p><strong>DO NOT CHECK</strong> <samp>Initialize this repository with a README</samp>. If you have already done this, delete the repository in the settings tab and recreate it.</p>

      <p>Once you have typed in a repository name, go ahead and click <button class="btn btn-success">Create Repository</button></p>
    </div>

    <div class="commands">
      <p>Commands used so far:</p>
      <ul>
        <li><kbd>git init</kdb></li>
        <li><kbd>git status</kdb></li>
        <li><kbd>git add</kdb></li>
        <li><kbd>git commit</kdb></li>
      </ul>
    </div>
  </main>

  <div class="img-block">
    <img class="img-responsive" src="components/images/create-repo.png" alt="">
  </div>

</div>
