<div class="git-content">

  <main>
    <div>
      <p>The first thing we need to do is use the terminal(often called a command prompt in Windows) to navigate to the directory that our project is in. In this example, you can see the terminal's working directory is: <samp>C:\Users\meow\Desktop\githubTest</samp></p>

      <p>Once we have found the directory that our project is in, the first step will be using a command called <kbd>git init</kbd>. This will initialize the directory as a working Git repository.</p>

      <p>Take note, upon a successful <kbd>git init</kbd>, there will be output in the terminal that says: <samp>Initalized empty Git repository in </samp> followed by the path to your project. Once this step has been completed, you will be able to proceed to the next step.</p>
    </div>

    <div class="commands">
      <p>Commands used so far:</p>
      <ul>
        <li><kbd>git init</kdb></li>
      </ul>
    </div>
  </main>


  <div class="img-block">
    <img ng-src="{{steps.gitInit}}">
  </div>



</div>
