<div class="git-content">

  <main>
    <div>
      <p>Now that we have checked our status and need to add files to tracking, let's run through two ways to do this.</p>

      <ul>
        <li>The first way is by typing: <kbd>git add <var>FILENAME</var></kbd>. This will add a single file. You can add multiple files in this way by separating each file with a single space.</li>
        <li>The second way is by typing: <kbd>git add .</kbd> This will add <b>ALL</b> files within that directory to tracking.</li>
      </ul>

      <p>Once we ran that command, we get a message saying that <samp>warning: LF will be replaced by CRLF in...</samp> all of the files you have added. Don't worry too much about that for now, it isn't broken.</p>

      <p>Lets go ahead and check out the repository's status by running our trusty <kbd>git status</kbd>. Notice something different now? That's right, the files are no longer in a <span class="text-danger">red</span> font color. All of your added files are in a <span class="text-success">green</span> font color now. When files are <span class="text-success">green</span>, it means that it is staged.</p>

    </div>

    <div class="commands">
      <p>Commands used so far:</p>
      <ul>
        <li><kbd>git init</kdb></li>
        <li><kbd>git status</kdb></li>
        <li><kbd>git add</kdb></li>
      </ul>
    </div>
  </main>


  <div class="img-block">
    <img class="img-responsive" src="components/images/git-add.png" alt="">
  </div>

</div>
