<div class="container-fluid">

  <div class="row">
    <div class="col-xs-6">
      <p>Now that we have checked our status and need to add files to tracking, let's run through two ways to do this.</p>

      <ul>
        <li>The first way is by typing: <kbd>git add <var>FILENAME</var></kbd>. This will add a single file. You can add multiple files in this way by separating each file with a single space.</li>
        <li>The second way is by typing: <kbd>git add .</kbd> This will add <b>ALL</b> files within that directory to tracking.</li>
      </ul>

      <p>Once we ran that command, we get a message saying that <samp>warning: LF will be replaced by CRLF in...</samp> all of the files you have added. Don't worry too much about that for now, it isn't broken.</p>

      <p>Lets go ahead and check out the repository's status by running our trusty <kbd>git status</kbd>. Notice something different now? That's right, the files are no longer in a <span class="text-danger">red</span> font color. All of your added files are in a <span class="text-success">green</span> font color now. When files are <span class="text-success">green</span>, it means that it is staged.</p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive pop-modal" ng-src="{{steps.statusAdd}}">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 commands">
      <p>Commands used so far:</p>
      <ul>
        <li><kbd>git init</kdb></li>
        <li><kbd>git status</kdb></li>
        <li><kbd>git add</kdb></li>
      </ul>
    </div>
    <div class="col-xs-3">
      <nav aria-label="...">
        <ul class="pager">
          <li class="previous"><a href="#!/before">Step 2</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-xs-3">
      <nav aria-label="...">
        <ul class="pager">
          <li class="next"><a href="#!/commit">Step 4</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="modal fade img-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <img ng-src="{{steps.statusAdd}}">
      </div>
    </div>
  </div>

</div>
