<button type="button" ng-click="firstStep()">Ready to start?</button>

<section ng-if="userReady">
  <p>Once 'git init' has been ran, you may have noticed there is an invisible folder in the directory now called '.git'. This folder will track this project's changes. We will talk about that later...</p>

  <p>The next step, and one that we constantly will be doing, is to check the status of this local repository. To do this, we will use the command: 'git status'.</p>

  <p>When running this command, the terminal will give some output. It will say "Untracked Files:" and list some files in a red or green font color. We will touch on the details at a later time. The biggest thing to notice is that all of the files within your directory should be listed here.</p>

  <p>In order for Git to allow us to commit or push these files, we need to add them to tracking. That is our next step!</p>
  <img ng-src="{{statusBefore}}">
</section>
