<div class="git-content">

  <main>
    <div>
      <p>Once that has completed, go back to your browser and refresh the page. Your browser should display something similar to what is in the picture. It will show you your files in the repository that is now on <a href="https://www.github.com">GitHub.com</a>!</p>

      <p><b>Congratulations, you have pushed your first repository.</b></p>
    </div>

    <div class="commands">
      <p>Commands used so far:</p>
      <ul>
        <li><kbd>git init</kdb></li>
        <li><kbd>git status</kdb></li>
        <li><kbd>git add</kdb></li>
        <li><kbd>git commit</kdb></li>
      </ul>
    </div>
  </main>

  <div class="img-block">
    <img class="img-responsive" src="components/images/yay-success.png" alt="">
  </div>

</div>
